:root {
  --blue: #344b97;
  --dark-grey: #1d2233;
  --cream: #f7f8d9;

}

html {
  font-size: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  color: var(--dark-grey);
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.Header {
  text-align: center;
}

.Footer {
  text-align: center;
  background: blue;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: blue;
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
}

.link {
  color: white;
}

#cart {
  --wide: 350px;
  --high: 350px;
  border-radius: 10px;
  background-color: red;
  position: fixed;
  width: var(--wide);
  height: var(--high);
  top: 50%;
  left: 50%;
  margin-top: calc(var(--high) / -1); /* Negative half of height. */
  margin-left: calc(var(--wide) / -2); /* Negative half of width. */
  overflow: auto;
}

img {
  max-width: 100px;
  max-height: 100px;
}