/* GENERAL */

:root {
  --blue: #344b97;
  --dark-grey: #1d2233;
  --cream: #f7f8d9;

}

html {
  font-size: 1rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  color: var(--dark-grey);
  background-image: url('../images/jeremie-cremer-M5xVtIv1Lo8-unsplash.jpg');
  background-position: center;
  background-size: cover;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.Header {
  text-align: center;
}

#storeName {
  color: aqua;
  font-size: 38px;
  margin: 0px;
}

.Footer {
  text-align: center;
  background: white;
  color: black;
  font-size: 9px;
}

/* NAV */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  list-style: none;
  font-size: 30px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  -ms-transform: scale(1.5); 
  transform: scale(1.1);
}

#nav-cart {
  display: flex;
}

#nav-cart:hover {
  -ms-transform: scale(1.5); 
  transform: scale(1.1);
  cursor: pointer;
}

#cartIcon {
  width: 35px;
  height: 35px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  overflow: visible;
}

#cartNum {
  position: absolute;
  margin-left: 35px;
  width: 20px;
  color: black;
  background-color: aqua;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOME */

#fashion {
  height: 500px;
}

/* CHECKOUT MODAL */

#cart-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
}

#cart {
  position: fixed;
  overflow: auto;
  width: 50%;
  height: 50%;
  top: 10%;
  left: 25%;
  border-radius: 10px;
  background-color: white;
  font-weight: bold;
  color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#closeCart {
  position: relative;
  z-index: 1;
  left: 20%; 
  top: 5%;
  height: 60px;
  background-color: white;
  border-radius: 50%;

}

.itemCard {
  display: flex;
  border: solid 1px rgb(172, 172, 172);
  border-radius: 10px;
  font-weight: bold;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 150px;
  max-width: 240px;
}

#total {
  font-size: 25px;
}

.itemCardImg {
  max-height: 100px;
}

.itemCardPrice {
  margin: 5px 0px;
}

.itemCardName {
  margin-bottom: 0px;
}

.quantityBtns {
  display: flex;
}

.incrementBtn {
  margin: 0 5px 0 0;
  font-weight: bold;
  border: solid 1px rgb(172, 172, 172);
  border-radius: 3px;
  background-color: rgb(172, 172, 172);
}

.decrementBtn {
  margin: 0 0 0 5px;
  font-weight: bold;
  border: solid 1px rgb(172, 172, 172);
  border-radius: 3px;
  background-color: rgb(172, 172, 172);
}

#checkoutBtn {
  font-weight: bold;
  border: solid 3px black;
  border-radius: 5px;
  background-color: rgb(172, 172, 172);
  width: 180px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

#checkoutBtn:hover {
  -ms-transform: scale(1.5); 
  transform: scale(1.1);
  cursor: pointer;
}

#continueShopBtn {
  background-color: aqua;
  border: solid 3px black;
  border-radius: 5px;
  width: 180px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

#continueShopBtn:hover {
  -ms-transform: scale(1.5); 
  transform: scale(1.1);
  cursor: pointer;
}

/* HOME PAGE */

/* SHOP PAGE */

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 15px;
  margin: 15px;
}

.productCard {
  max-height: 700px;
  max-width: 650px;
  margin: 0px;
  border: solid 1px rgb(172, 172, 172);
  border-radius: 15px;
  box-shadow: 3px 3px 10px rgb(172, 172, 172);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: black;
}

.productImg {
  margin: 10px;
  max-height: 250px;
}

.productName {
  margin: 0px 10px 10px 10px;
}

.shopping {
  display: flex;
  margin-bottom: 10px 0px 10px 0px;
}

.productPrice {
  margin: 10px;
  font-size: 20px;
}

.productBtn {
  background-color: aqua;
  border: solid 3px black;
  border-radius: 5px;
  width: 180px;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productBtn:hover {
  -ms-transform: scale(1.5); 
  transform: scale(1.1);
  cursor: pointer;
}